<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated oparl -->
      <package
            uri="de.oklab.leipzig.oparl"
            class="de.oklab.leipzig.oparl.OparlPackage"
            genModel="model/oparl.xcore"/>
   </extension>

</plugin>
